/** Basic Page CSS **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-weight: 200;
  background-color: #377bb7 !important;

  min-width: 400px;
}

header a,
footer a{
  color: rgb(18, 100, 155);
}

footer{
  font-size: 0.8em;
}

.bg-primary,
.btn-primary{
  background-color: #377bb7 !important;
  border: inherit;
}

footer{
  position: fixed;
  bottom: 0;
}


/*  xs  <  576px
    sm  >= 576px
    md  >= 768px
    lg  >= 992px
    xl  >= 1200px */